{{#view "taggable" styleBinding="model.backgroundUrl"}}
    <span style="position:fixed;top:10%;left:25%">[[{{model.tags}}]]((
  {{#each tag in model.tags}}
    {{tag}}
    {{lookie-tag ratioFromLeft=tag.ratioFromLeft ratioFromTop =tag.ratioFromTop
       leftBlackBarWidth=view.leftBlackBarWidth  topBlackBarHeight=view.topBlackBarHeight
       lookieWidth=view.lookieWidth              lookieHeight=view.lookieHeight
       href=tag.product
       action="navigateToTag"
    }}
  {{/each}}
    ))</span>
{{/view}}

<div class="logo-home">
  {{#link-to 'lookies'}}<span class="glyphicon glyphicon-eye-open"></span>{{/link-to}}
</div>

<div class="next-lookie">
  {{#link-to 'lookies'}}<span class="glyphicon glyphicon-arrow-right"></span>{{/link-to}}
</div>

<div class="is-editing well" style="position:fixed;right:0">
  <div class="checkbox">
    <label>
      {{input type="checkbox" name="isEditing" checked=isEditing}}
      Edit
    </label>
  </div>
</div>

{{#if isTagging}}
  {{view "create-tag"}}
{{/if}}
